*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
}

canvas{
    position: absolute;
    background-image: radial-gradient(circle, #055a40, #00555c, #004c88, #003da7, #0d0097);
    top :0;
    left :0;
}